@charset 'UTF-8';
body{
    background-image: radial-gradient(circle, rgba(0, 0, 255, 0.63), rgba(0, 128, 0, 0.616), rgba(148, 148, 71, 0.568), gray);
    background-color: rgb(241, 236, 236);
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.primeiroteste {
    background-image: linear-gradient(to right, white, rgb(47, 47, 161));
    background-color: rgb(82, 172, 82);
    color: rgb(2, 2, 223);
}
.distribuicao_linux{
    background-color: rgb(82, 172, 82);
    color: red;
}